.header {
  width: 90%;
  margin: 0 auto;
  opacity: 1;
}

.mainSloganWrapper {
  font-size: 6.2vmax;
  color: #151614;
  padding-top: 9vmax;
  min-height: 63vh;
  /* border: 2px solid red; */
  display: flex;
  align-items: flex-end;
}

.mainSlogan {
  font-family: var(--font-PPMori);
  font-weight: 300;
  background-color: var(--background);
  overflow: hidden;
  & p {
    overflow: hidden;
  }
}

.subSloganWrapper {
  /* padding-top: 3vmax; */
  padding: 3vmax 0;
  font-size: 2vmax;
  display: flex;
  flex-direction: row-reverse;
}

.subSlogan {
  line-height: 4rem;
  width: 60%;
  font-family: var(--font-NanumSquareRound);
  font-weight: 300;
  opacity: 0;
  transform: translateY(50px);
}

@media (max-width: 450px) {
  .mainSloganWrapper {
    font-size: 3.6vmax;
    min-height: 39vh;
    padding-bottom: 2rem;
  }
  .subSloganWrapper {
    font-size: 1.5vmax;
  }

  .subSlogan {
    line-height: 3vmax;
    width: 72%;
  }
}
@media (min-width: 451px) and (max-width: 1200px) {
  .mainSloganWrapper {
    font-size: 7.2vmax;
    align-items: center;
  }
}

@media (orientation: portrait) and (min-width: 451px) and (max-width: 1024px) {
  .mainSloganWrapper {
    font-size: 9rem;
    padding-bottom: 5rem;
  }
}
