:root {
  --background: #f7f7f7;
  --foreground: #151614;
  font-size: 1.1vw;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.my-wrapper {
  width: 90%;
  margin: 0 auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--foreground) !important;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

/* @media () {
  html {

  }
} */
