.footerWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2vmax 3vmax;
}

.bottomBtn {
  width: 3vmax;
  height: 3vmax;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.06);
  transition: transform 0.5s;
  cursor: pointer;
  margin-bottom: 2vmax;
}

.bottomBtn:hover {
  transform: translateY(-0.5rem);
}

.bottomBtn > svg {
  width: 2.5vmax;
  height: 2.5vmax;
  position: relative;
  top: calc(50% - 1.2vmax);
  left: calc(50% - 1.2vmax);
}

.secondBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.secondBoxText {
  font-size: 1.6vmax;
  letter-spacing: 0.25rem;
}

.secondBoxIcon {
  font-size: 2vmax;
}
