.footerWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 6rem);
  margin: 2rem 3rem;
}

.bottomBtn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.06);
  transition: transform 0.5s;
  cursor: pointer;
  margin-bottom: 2rem;
}

.bottomBtn:hover {
  transform: translateY(-0.5rem);
}

.bottomBtn > svg {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  top: calc(50% - 1.2rem);
  left: calc(50% - 1.2rem);
}

.secondBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.secondBoxText {
  font-size: 1.6rem;
  letter-spacing: 0.25rem;
}

.secondBoxIcon {
  font-size: 2rem;
}
