.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vmax;
}
.dot {
  transform: translateY(30%);
  opacity: 0;
}

@media (max-width: 1024px) {
  .wrapper {
    font-size: 4vmax;
  }
}
